{% extends "server/base.html" %} {% block head %}
<style>
button.slewbutton {
    margin: 10px 10px 10px 10px;
}
button.trackbutton {
    margin: 10px 10px 10px 10px;
}
button.actionbutton {
    padding: 12px 5px;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}
</style>
<style type="text/css">
  .dark-background {background-color:#202020;}
  .red {color:#d00000;}
</style>

{% endblock %} {% block body %} {% csrf_token %}
<!--  Status Display  -->
<!-- <div class="well well-sm"> -->
<div class="table">
    <table id="scopeinfo" border=1 bordercolor="#ff0000">
        <tr>
            <th class="serverlabel">GPS Loc:</th>
            <th class="displayvalue" id="gps_location_lat"></th>
            <th class="displayvalue" id="gps_location_lon"></th>
        </tr>
        <tr>
            <th class="serverlabel">Local Time</th>
            <th class="displayvalue" id="local_time"></th>
            <th class="displayvalue" id="t_acc"></th>
            <tr>
                <th class="serverlabel">UTC Time</th>
                <th class="displayvalue" id="utc_time"></th>
                <th class="displayvalue" id="meridian_mode"></th>
            </tr>
            <tr>
                <th class="serverlabel">Scope Pos:</th>
                <th class="displayvalue" id="scope_position_dec"></th>
                <th class="displayvalue" id="scope_position_ra"></th>
            </tr>
            <tr>
                <th class="serverlabel">GOTO Target:</th>
                <th class="displayvalue" id="target_position_dec"></th>
                <th class="displayvalue" id="target_position_ra"></th>
            </tr>
            <tr>
                <th class="serverlabel">Motor Current:</th>
                <th class="displayvalue" id="motor_current_dec"></th>
                <th class="displayvalue" id="motor_current_ra"></th>
            </tr>
            <tr>
                <th class="serverlabel">Pos Error:</th>
                <th class="displayvalue" id="pos_error_dec"></th>
                <th class="displayvalue" id="pos_error_ra"></th>
            </tr>
            <tr>
                <th class="serverlabel">Autoguider:</th>
                <th class="displayvalue" id="autoguider_connected"></th>
                <th class="displayvalue" id="autoguider_status"></th>
            </tr>
    </table>
</div>



<!--  Autoguider Image -->
<div align="center">
<img 
     id="guider_view"
     src=""
     alt="Autoguider View"
     style="width:400px;height:300px;"
/>
</div>


<!--  Tracking/Autoguiding Motion Control Buttons -->
<div align="center">
    <button class="btn btn-primary dark-background red slewbutton" name="jog_target_north" value="jog_target_north">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
    <button class="btn btn-primary dark-background red slewbutton" name="jog_target_south" value="jog_target_south">
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>

    <button class="btn btn-primary dark-background red trackbutton" name="slew_track" value="track">
        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
    </button>

    <button class="btn btn-primary dark-background red slewbutton" name="jog_target_west" value="jog_target_west">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </button>
    <button class="btn btn-primary dark-background red slewbutton" name="jog_target_east" value="jog_target_east">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </button>
</div>


<!--  Display ScopeServer Error Message  -->
<div align="center" style="color:red" id="errorDiv"></div>


<div class=tabpanel>
  <!--  ScopeServer/Autoguider Reboot/Shutdown Controls -->
  <div id="UpDownCtl" class="tabcontent">
    <!--  ScopeServer/Autoguider Reboot/Shutdown Controls -->
    <div class="button_bar">
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="gpsreset" value="gpsreset">gpsrst</button>
      </object>
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="ssreset" value="ssreset">ssrst</button>
      </object>
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="ssreboot" value="ssreboot">ssrbt</button>
      </object>
      <object>
          <button class="btn btn-warning dark-background red actionbutton" name="ssshutdown" value="ssshutdown">ssdwn</button>
      </object>
    </div>
    <div class="button_bar">
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="wifi" value="wifi">&nbsp; WiFi &nbsp;</button>
      </object>
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="agreset" value="agreset">agrst</button>
      </object>
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="agreboot" value="agreboot">agrbt</button>
      </object>
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="agshutdown" value="agshutdown">agdwn</button>
      </object>
    </div>
  </div>

  <!--  Autoguider Adjustment Controls  -->
  <div id="ImgAdj" class="tabcontent">
    <div class="button_bar">
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="agauto" value="agauto">auto</button>
      </object>

      <object class="slidecontainer">
        gamma: <object id="gamma_val_str"></object>
        <object id="gamma_val"></object>
      </object>
    </div>
    <div class="button_bar">
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="meridianflip" value="meridianflip">mflp</button>
      </object>

      <object class="slidecontainer">
        black point: <object id="bp_val_str"></object>
        <object id="bp_val"></object>
      </object>
    </div>
  </div>

  <!--  Autoguider Action Controls  -->
  <div id="AGCtl" class="tabcontent">
    <div class="button_bar">
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="agfind" value="agfind">find</button>
      </object>
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="agguide" value="agguide">guide</button>
      </object>
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="agana" value="agana">ana</button>
      </object>
      <object>
          <button class="btn btn-primary dark-background red actionbutton" name="agimage" value="agimage">img</button>
      </object>
    </div>
  </div>

  <button class="tablink" onclick="openButtonBar('UpDownCtl', this)">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </button>

  <button class="tablink" onclick="openButtonBar('ImgAdj', this)">
    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
  </button>

  <button class="tablink" onclick="openButtonBar('AGCtl', this)">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  </button>

</div>



<script>
function openButtonBar(buttonBar,elmnt) {
  var i, viz, tabcontent, tablinks;
  viz = document.getElementById(buttonBar).style.display;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  if (viz === "none") {
    document.getElementById(buttonBar).style.display = "block";
  } else {
    document.getElementById(buttonBar).style.display = "none";
  }
  elmnt.style.backgroundColor = "#600000";

}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>


<!--  Script to Update Status Display and Guider View  -->
<script>
function get_scope_status() {
    jQuery.ajax({
        data: {
            csrfmiddlewaretoken: csrftoken,
            action: "serverStatus",
        },
        type: 'POST',
        success: function(result) {
            if (result['status'] == "Success") {
                for (var key in result) {
                    if (key == "#guider_view") {
                        var value = result[key]
                        $('#guider_view').attr('src',value);
                    }
//                    else if (key.endsWith("_val")) {
                    else if (key == "#gamma_val") {
                        var value = result[key];
                        var slider_html = '<input name="set_gamma_val" class="slider actionslider" type="range" min="1" max="5" step="0.5" value="' + value + '">';
                        $(key).html(slider_html);
                    }
                    else if (key == "#bp_val") {
                        var value = result[key];
                        var slider_html = '<input name="set_bp_val" class="slider actionslider" type="range" min="0" max="20" step="1" value="' + value + '">';
                        $(key).html(slider_html);
                    }
                    else if (key != "status") {
                        var value = result[key];
                        $(key).html(value);
                    }
                }
                $(".actionslider").on("input", function(e){ sliderSend(e); });
                $("#errorDiv").html("");
            } else {
                console.log(result);
                window.location.reload();
            }
        },
        error: function(jqXHR, textStatus, String) {
            $("#errorDiv").html("Error Contacting ScopeServer");
        },
    });
}
</script>


<!--  Slew Control Script   -->
<script>
    function slewSend(e){
        jQuery.ajax({
            data: {
                csrfmiddlewaretoken: csrftoken,
                slew: e.currentTarget.name,
                mouse: e.type,
            },
            type: 'POST',
            success: function(result) {
                if (result['status'] == "Success") {
                    for (var key in result) {
                        if (key != "status") {
                            var value = result[key];
                            $(key).html(value);
                        }
                    }
                } else {
                    alert(result['msg']);
                    window.location.reload();
                }
            },
            error: function(jqXHR, textStatus, String) {
                $("#errorDiv").html("Error Contacting ScopeServer");
            },
        });
    }
    $(".slewbutton").click(function(e){
      slewSend(e);
    });
    $(".trackbutton").click(function(e){
      slewSend(e);
    });
</script>


<!--  Action Button Control Script  -->
<script>
    function actionSend(e){
        jQuery.ajax({
            data: {
                csrfmiddlewaretoken: csrftoken,
                action: e.currentTarget.name,
            },
            type: 'POST',
            success: function(result) {
                if (result['status'] == "Success") {
                    for (var key in result) {
                        if (key != "status") {
                            var value = result[key];
                            $(key).html(value);
                        }
                    }
                } else {
                    alert(result['msg']);
                    window.location.reload();
                }
            },
            error: function(jqXHR, textStatus, String) {
                $("#errorDiv").html("Error Contacting ScopeServer");
            },
        });
    }
    $(".actionbutton").click(function(e){
        actionSend(e);
    });
</script>


<!--  Action Slider Control Script  -->
<script>
    function sliderSend(e){
        jQuery.ajax({
            data: {
                csrfmiddlewaretoken: csrftoken,
                action: e.currentTarget.name,
                value: e.currentTarget.value,
            },
            type: 'POST',
            success: function(result) {
                if (result['status'] == "Success") {
                    for (var key in result) {
                        if (key != "status") {
                            var value = result[key];
                            $(key).html(value+"*");
                        }
                    }
                } else {
                    alert(result['msg']);
                    window.location.reload();
                }
            },
            error: function(jqXHR, textStatus, String) {
                $("#errorDiv").html("Error Contacting ScopeServer");
            },
        });
    }
</script>


<!-- Set Interval to call get_scope_status -->
<script>
  var interval_scope_status = setInterval(get_scope_status, 500);
</script>

{% endblock %}
